torch == 2.7.0
transformers == 4.51.3
sentencepiece == 0.2.0
pillow == 11.2.1
fastapi==0.115.12
docx2txt==0.9
llama-index== 0.12.33
llama-index-embeddings-huggingface == 0.5.3
llama-index-readers-file==0.4.7
llama-index-vector-stores-postgres==0.5.1
llama_stack_client == 0.2.3
python-multipart == 0.0.20
psycopg2-binary == 2.9.10
SQLAlchemy == 2.0.40